:root {
	--p1: #fff;
	--p2: #ccf;
	--p3: #27f;
	--p4: #999;
	--p5: #a7f;
	--p6: #e45;

	--body-bg: var(--p1);
	--body-color: #000;
	--body-font-family: 'Dosis', sans-serif;
	--article-font-family: 'Nobile', sans-serif;

	--link-color: blue;
	--link-color-visited: purple;

	--header-font-family: 'PassionOne', sans-serif;
	--header-bg-color: #27f;
	--header-text-color: white;
	--header-border-color: var(--p6);
	--header-logo-color-a: white;
	--header-logo-color-b: var(--p2);

	--header-outline-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

	--footer-border-color: var(--p4);

	--menu-font-family: 'Nobile', sans-serif;
	--menu-text-color: white;
	--menu-trim-color: 1px dotted white;

	--section-header-bg: var(--p4);
	--section-header-shadow: none;
	--section-header-title-bg: rgba(170, 170, 180, 0.5);
	--section-header-title-shadow: none;
	--section-header-title-color: white;
	--section-header-title-color-hover: var(--p2);

	--section-subheader-bg: var(--p3);
	--section-subheader-color: #fff;

	--biglist-shadow: inset 0 0 80px 0 rgba(0, 0, 0, 0.75);
	--biglist-bg-color: var(--p4);
	--biglist-bg-color-hover: rgba(255, 255, 255, 0.3);
	--biglist-text-color: white;
	--biglist-meta-color: rgba(255, 255, 255, 0.5);

	--paginate-bg-inactive: #fff;
	--paginate-bg-hover: var(--p6);
	--paginate-bg-active: #fde;
	--paginate-shadow-active: inset 0 -4px 0 0 var(--p6);
	--paginate-border: none;

	--download-button-bg: #2da;
	--download-button-bg-hover: #afd;
	--download-info-bg-hover: #afd;

	--table-header-bg: none;
	--table-header-color: #000;
	--table-row-alt-bg: #e2e9ff;
	--table-row-hover: var(--p2);

	--document-meta-border: none;
	--document-meta-bg: #eaefff;
}

/*@media (prefers-color-scheme: dark) {*/
/*	:root {*/
/*		--p1: #223;*/
/*		--p2: #ccf;*/

/*		--body-color: #ddd;*/

/*		--table-header-color: var(--body-color);*/
/*		--table-row-alt-bg: #3e3e4e;*/

/*		--document-meta-bg: #334;*/

/*		--link-color: white;*/
/*		--link-color-visited: silver;*/
/*	}*/


/*	section.downloads .links a {*/
/*		--link-color: black;*/
/*	}*/

/*	td.meta img[src$="svg"], footer img[src$="svg"], .report img[src$="svg"] {*/
/*		filter: invert(1);*/
/*	}*/
/*}*/

.mainpage {
	background-color: #f8f9fa00;
	box-shadow: none;
}

.biglist ul li a:hover {
	background-color: var(--biglist-bg-color-hover);
	border-radius: 5px;
}

td.meta img[src$="svg"], footer img[src$="svg"], .report img[src$="svg"] {
	filter: invert(0.2);
}

article.managed section.downloads .download .title img[src$="svg"], .variation img[src$="svg"] {
	filter: invert(0.8);
}

h2 img:not(#search-results *), h3 img {
	margin-top: -9px;
	filter: invert(1);
}

article section h3 {
	background-color: var(--p5);
	color: var(--section-header-title-color);
}

article section h2 {
	border-radius: 4px 4px 0 0;
}

article.info {
	margin-top: 0;
}

article.info .screenshots .thumb {
	border-radius: 4px;
}

.contentpage {
	padding: 15px 0;
}

section.header, section.header h1 {
	border-radius: 0 0 4px 4px;
}

section.report {
	background-color: transparent;
}

article section {
	border-radius: 5px;
	background-color: var(--document-meta-bg);
	padding-bottom: 5px;
}

article section.readable {
	background: none;
	color: var(--body-color);
}

table thead, table th {
	border-bottom: 1px solid #000;
	text-align: left;
}

table tbody td {
	padding: 7px 0;
}

section table {
	margin: 0 5px;
	width: calc(100% - 10px);
}

section.downloads .links a {
	margin: 10px;
	border-radius: 4px;
}

