:root {
	--p1: #14274E;
	--p2: #F1F6F9;
	--p3: #9BA4B4;
	--p4: #394867;
	--p5: #74BE57;
	--p6: #DEE8F8;

	--body-bg: var(--p2);
	--body-color: black;
	--body-font-family: 'Encode Sans Semi Condensed', sans-serif;
	--article-font-family: 'Encode Sans Expanded', sans-serif;

	--link-color: blue;
	--link-color-visited: purple;

	--header-font-family: 'Squada One', sans-serif;
	--header-bg-color: var(--p1);
	--header-text-color: white;
	--header-border-color: none;
	--header-logo-color-a: white;
	--header-logo-color-b: var(--p3);
	--header-shadow: none;

	--header-outline-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

	--footer-border-color: var(--p4);

	--menu-font-family: 'Encode Sans Expanded', sans-serif;
	--menu-text-color: var(--p2);
	--menu-trim-color: 1px dotted var(--menu-text-color);

	--page-shadow: none;

	--section-header-bg: var(--p4);
	--section-header-shadow: none;
	--section-header-title-bg: var(--p4);
	--section-header-title-shadow: 0 -10px 15px -4px rgba(0, 0, 0, 0.4);
	--section-header-title-color: white;
	--section-header-title-color-hover: var(--p2);

	--section-subheader-bg: var(--p3);
	--section-subheader-color: var(--p1);

	--biglist-shadow: inset 0 0 80px 0 rgba(0, 0, 0, 0.75);
	--biglist-bg-color: var(--p4);
	--biglist-bg-color-hover: var(--p2);
	--biglist-text-color: white;
	--biglist-meta-color: rgba(255, 255, 255, 0.6);

	--paginate-bg-inactive: var(--p2);
	--paginate-bg-hover: var(--p3);
	--paginate-bg-active: var(--p3);
	--paginate-shadow-active: inset 0 -3px 0 0 var(--p1);
	--paginate-border: none;

	--download-button-bg: var(--p5);
	--download-button-bg-hover: var(--p5);
	--download-info-bg-hover: none;

	--table-header-bg: none;
	--table-header-color: var(--p1);
	--table-row-alt-bg: var(--p6);
	--table-row-hover: var(--p3);

	--document-meta-border: none;
	--document-meta-bg: var(--p6);

	--problem-border: #dd3;
	--problem-bg: #dd35;

	--radius: 20px;
}

/**
 * custom styling
 */

header {
	position: fixed;
	z-index: 5;
	top: 0;
	width: 100%;
	border: none;
}

section.header {
	height: 150px;
	border-bottom: 10px solid var(--section-header-title-bg);
}
section.header .cover {
	backdrop-filter: none;
}

/* for pages where there's no big header present, push content down */
.contentpage { padding: 30px 0; }
/* better padding on blocks which follow blocks */
.mainpage section.header + .contentpage,
.page + .contentpage,
.submenu + .contentpage {
	padding: 20px 0;
}

.contentpage .content-body:not(:has(.biglist)) {
	background-color: var(--p2);
	border-radius: var(--radius);
	padding: 10px;
}

.page-bg {
	display: block;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 800px;
	background-size: cover;
	background-position: top center;
	filter: blur(10px) opacity(0.75);
}

.page-bg .inner {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	background: linear-gradient(0deg, var(--body-bg) 0%, rgba(0,0,0,0) 100%);
}

.biglist ul li a:hover {
	border-bottom: 4px solid var(--p3);
	backdrop-filter: saturate(1.3) brightness(1.3);
	transition: backdrop-filter 1s;
}

article section h2 {
	border-radius: var(--radius);
	font-size: 1.75em;
}

article section h3 {
	background-color: var(--p3);
	color: var(--section-header-title-color);
	font-size: 1.6em;
	border-radius: var(--radius);
}

article section h4 {
	background-color: var(--document-meta-bg);
	font-size: 1.3em;
	border-radius: var(--radius);
}

article.info {
	margin-top: 0;
}

article.info .info, article.list, article.document, #gametype, #gametype-release {
	/*background-color: var(--p2);*/
	/*border-radius: var(--radius);*/
	/*padding: 10px;*/
}

.list .sectionInfo h3 {
	border-radius: var(--radius);
}

section.report {
	background-color: transparent;
}

article section.readable {
	background: none;
	color: var(--body-color);
}

table thead, table th {
	border-bottom: 1px solid var(--body-color);
	text-align: left;
}

table tbody td {
	padding: 7px 0;
}

section table {
	margin: 0 5px;
	width: calc(100% - 10px);
}

section.downloads .links a {
	margin: 10px;
	border-radius: var(--radius);
}

section.releases .links a {
	border-radius: var(--radius);
}

.readable {
	font-size: 1.1em;
}

#log .good {
	color: var(--p1);
	background-color: var(--p3);
	font-weight: bold;
}

#log .error, #log .warn {
	color: var(--p1);
}

/**
  alternative colour scheme support
 */
[data-theme="dark"] {
	--body-bg: var(--p1);
	footer {
		color: var(--p2);
	}
}

[data-theme="orange"] {
	--p1: #4F200D;
	--p2: #F6F1E9;
	--p3: #FFD93D;
	--p4: #FF8400;
	--p6: #F4EEE7;
}

[data-theme="reds"] {
	--p1: #151515;
	--p2: #EEEEEE;
	--p3: #C73659;
	--p4: #A91D3A;
	--p6: #ECECEC;
	--body-bg: var(--p1);
	footer {
		color: var(--p2);
	}
}

[data-theme="greens"] {
	--p1: #3A4D39;
	--p2: #ECE3CE;
	--p3: #739072;
	--p4: #4F6F52;
	--p6: #EAE1CC;
	--body-bg: var(--p1);
	footer {
		color: var(--p2);
	}
}

[data-theme="accent"] {
	--p1: #393E46;
	--p2: #EEEEEE;
	--p3: #00ADB5;
	--p4: #222831;
	--p6: #ECECEC;
	--body-bg: var(--p1);
	footer {
		color: var(--p2);
	}
}

[data-theme="bu"] {
	--p1: #c0c0c0;
	--p2: #d1d1d1;
	--p3: black;
	--p4: #c0c0c0;
	--p6: #ECECEC;
	--header-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.8);
	--header-logo-color-b: var(--p2);
	--body-color: var(--p3);
	--link-color: #3B5293;
	--link-color-visited: #4c4c4c;
	--menu-text-color: white;
	--section-subheader-bg: none;
	--section-subheader-color: var(--p3);
	--section-header-title-shadow: none;
	--radius: 0;
	--article-font-family: 'Verdana', sans-serif;
	--table-header-bg: var(--p1);
	--table-header-color: var(--p3);
	--table-row-hover: none;
	header {
		background-image: url("bu/topbar_back.gif");
		background-position: bottom;
		height: 80px;
		text-shadow: 2px 2px 5px #00000090;
	}
	header img, header svg {
		filter: drop-shadow(2px 2px 5px #00000090);
	}
	article section h2, article section h3, article section h4 {
		border-bottom: 1px solid #808080;
		background: none;
		color: var(--p3);
	}
	.biglist ul li {
		border: 1px solid var(--p3);
	}
	.biglist ul li a {
		color: initial;
		text-shadow: none;
	}
}

[data-theme="pu"] {
	--p1: #262a5b;
	--p2: #040732;
	--p3: white;
	--p4: var(--p2);
	--p5: #246E07;
	--p6: var(--p1);
	--header-shadow: none;
	--header-logo-color-b: #ffc600;
	--body-bg: var(--p1);
	--body-color: var(--p3);
	--link-color: #ffc600;
	--link-color-visited: #cca600;
	--biglist-text-color: var(--link-color);
	--biglist-shadow: -2px -2px #5d65bc;
	--menu-text-color: var(--link-color);
	--section-header-bg: var(--p1);
	--section-subheader-color: var(--p3);
	--section-subheader-bg: var(--p1);
	--section-header-title-shadow: none;
	--radius: 15px;
	--article-font-family: 'Verdana', sans-serif;
	--table-header-bg: none;
	--table-header-color: var(--p3);
	--table-row-hover: none;
	article section h2, article section h3, article section h4, .biglist h2 {
		border-bottom: 1px solid #5d65bc;
		background-color: var(--p1);
		border-radius: 30px 0 0 30px;
		color: var(--p3);
	}
	.biglist ul li a:hover {
		border-bottom: 4px solid var(--p3);
	}
	.contentpage .content-body:not(:has(.biglist)) {
	  box-shadow: var(--biglist-shadow);
	}
	section.downloads .links a {
		color: white;
	}
}

[data-theme="gh"] {
	--p1: #212830;
	--p2: #151b23;
	--p3: #d1d7e0;
	--p4: #212830;
	--p5: #347d39;
	--p6: #262c36;
	--body-bg: var(--p1);
	--body-color: var(--p3);
	--header-bg-color: var(--p2);
	--link-color: #417dcd;
	--link-color-visited: #417dcd;
	--radius: 6px;
	--table-header-bg: var(--p6);
	--table-row-hover: var(--p6);
	--table-border-color: #3d444d;
	--table-row-alt-bg: none;
	--table-header-color: var(--p3);
	.readable h1, article section h2, article section h3, article section h4, .biglist h2 {
		border-bottom: 1px solid var(--table-border-color);
		background-color: transparent;
		border-radius: 0;
		color: var(--p3);
	}
	.biglist ul li {
		border: 1px solid var(--table-border-color);
	}
	.biglist .title {
		background-color: var(--p6);
	}
	.contentpage .content-body:not(:has(.biglist)) {
		background-color: transparent;
		border: none;
	}
	article section {
		border-radius: var(--radius);
		background-color: var(--p1);
		border: 1px solid var(--table-border-color);
	}
	.links a {
		color: white;
	}
	table thead {
		border-bottom: 1px solid var(--table-border-color);
	}
}

@media screen and (max-width: 1024px) {
	* {
		--radius: 0;
	}

	header {
		position: relative;
	}
}
