:root {
	--p1: #1a1a1d;
	--p2: #c3073f;
	--p3: #950740;
	--p4: #4e4e50;
	--p5: #6f2232;
	--p6: #a3e312;
	--p7: #202023;

	--body-bg: var(--p1);
	--body-color: lightgray;
	--body-font-family: 'Encode Sans Semi Condensed', sans-serif;
	--article-font-family: 'Encode Sans Expanded', sans-serif;

	--link-color: white;
	--link-color-visited: lightgray;

	--header-font-family: 'Squada One', sans-serif;
	--header-bg-color: var(--p1);
	--header-text-color: white;
	--header-border-color: var(--p6);
	--header-logo-color-a: white;
	--header-logo-color-b: var(--p2);

	--header-outline-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

	--footer-border-color: var(--p4);

	--menu-font-family: 'Encode Sans Expanded', sans-serif;
	--menu-text-color: white;
	--menu-trim-color: 1px dotted white;

	--section-header-bg: var(--p4);
	--section-header-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.75);
	--section-header-title-bg: rgba(78, 78, 80, 0.5);
	--section-header-title-shadow: -1px -2px 15px -4px rgba(0, 0, 0, 0.4);
	--section-header-title-color: white;
	--section-header-title-color-hover: var(--p2);

	--section-subheader-bg: var(--p3);;
	--section-subheader-color: lightgrey;

	--biglist-shadow: inset 0 0 80px 0 rgba(0, 0, 0, 0.75);
	--biglist-bg-color: var(--p4);
	--biglist-bg-color-hover: #a3e31280;
	--biglist-text-color: white;
	--biglist-meta-color: rgba(255, 255, 255, 0.6);

	--paginate-bg-inactive: var(--p7);
	--paginate-bg-hover: #95074080;
	--paginate-bg-active: var(--section-header-title-bg);
	--paginate-shadow-active: inset 0 -3px 0 0 var(--p6);
	--paginate-border: none;

	--download-button-bg: darkgreen;
	--download-button-bg-hover: green;
	--download-info-bg-hover: #242427;

	--table-header-bg: var(--document-meta-bg);
	--table-header-color: lightgrey;
	--table-row-alt-bg: var(--p7);
	--table-row-hover: #a3e31280;

	--document-meta-border: none;
	--document-meta-bg: var(--p7);
}

/**
 * invert svg icons for dark background
 */
h2 img[src$="svg"], h3 img[src$="svg"], h4 img[src$="svg"] {
	filter: invert(0.85);
}

td.meta img[src$="svg"], footer img[src$="svg"], .report img[src$="svg"] {
	filter: invert(0.8);
}

article.managed section.downloads .download .title img[src$="svg"], .variation img[src$="svg"] {
	filter: invert(0.8);
}

div.themes img[src$="svg"] {
	filter: invert(0.8);
}

/**
 * custom styling
 */

header {
	position: relative;
	z-index: 5;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}

section.header {
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}

.biglist ul li a:hover {
	background: linear-gradient(0deg, var(--biglist-bg-color-hover) -5%, #0000 10%);
	border-bottom: 4px solid var(--p6);
	backdrop-filter: saturate(1.2) brightness(1.2);
}

.biglist ul li .meta {
	color: var(--biglist-meta-color);
	font-size: 1.3em;
	position: absolute;
	bottom: -3px;
	right: 3px;
}

h2 img, h3 img, h4 img {
	padding: 0 7px 5px 0;
}

article section h3 {
	background-color: var(--p5);
	color: var(--section-header-title-color);
}

article section h2 {
	border-radius: 4px 4px 0 0;
	font-size: 1.8em;
}

article section h3 {
	font-size: 1.6em;
}

article.info {
	margin-top: 0;
}

article.info .screenshots .thumb {
	border-radius: 4px;
}

.list .sectionInfo h3 {
	border-radius: 4px 5px 0 0;
}
.list .sectionInfo div {
	border-radius: 5px;
}

.contentpage {
	padding: 15px 0;
}

section.report {
	background-color: transparent;
}

article section {
	border-radius: 5px;
	background-color: var(--document-meta-bg);
	padding-bottom: 5px;
}

article section.readable {
	background: none;
	color: var(--body-color);
}

table thead, table th {
	border-bottom: 1px solid var(--body-color);
	text-align: left;
}

table tbody td {
	padding: 7px 0;
}

section table {
	margin: 0 5px;
	width: calc(100% - 10px);
}

section.downloads .links a {
	margin: 10px;
	border-radius: 4px;
}

.readable {
	font-size: 1.1em;
}

/**
  Light theme support - mostly duplicated from `style4`.
 */
@media (prefers-color-scheme: light) {
	:root {
		--p1: #fff;
		--p2: #ccf;
		--p3: #27f;
		--p4: #999;
		--p5: #a7f;
		--p6: #e45;

		--body-bg: var(--p1);
		--body-color: #000;

		--link-color: blue;
		--link-color-visited: purple;

		--header-bg-color: #27f;
		--header-text-color: white;
		--header-border-color: var(--p6);
		--header-logo-color-a: white;
		--header-logo-color-b: var(--p2);

		--header-outline-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

		--footer-border-color: var(--p4);

		--menu-text-color: white;
		--menu-trim-color: 1px dotted white;

		--section-header-bg: var(--p4);
		--section-header-shadow: none;
		--section-header-title-bg: rgba(170, 170, 180, 0.3);
		--section-header-title-shadow: none;
		--section-header-title-color: white;
		--section-header-title-color-hover: var(--p2);

		--section-subheader-bg: var(--p3);
		--section-subheader-color: #fff;

		--biglist-shadow: inset 0 0 80px 0 rgba(0, 0, 0, 0.75);
		--biglist-bg-color: var(--p4);
		--biglist-bg-color-hover: rgba(255, 255, 255, 0.3);
		--biglist-text-color: white;
		--biglist-meta-color: rgba(255, 255, 255, 0.5);

		--paginate-bg-inactive: #fff;
		--paginate-bg-hover: var(--p6);
		--paginate-bg-active: #fde;
		--paginate-shadow-active: inset 0 -4px 0 0 var(--p6);
		--paginate-border: none;

		--download-button-bg: #2da;
		--download-button-bg-hover: #afd;
		--download-info-bg-hover: #afd;

		--table-header-bg: none;
		--table-header-color: #000;
		--table-row-alt-bg: #e2e9ff;
		--table-row-hover: var(--p2);

		--document-meta-border: none;
		--document-meta-bg: #eaefff;
	}

	.mainpage {
		background-color: #f8f9fa00;
		box-shadow: none;
	}

	td.meta img[src$="svg"], footer img[src$="svg"], .report img[src$="svg"] {
		filter: invert(0.2);
	}

	article.managed section.downloads .download .title img[src$="svg"], .variation img[src$="svg"] {
		filter: invert(0.8);
	}

	h2 img:not(#search-results *), h3 img {
		margin-top: -9px;
		filter: invert(1);
	}

	article section h3 {
		background-color: var(--p5);
		color: var(--section-header-title-color);
	}

	table thead, table th {
		border-bottom: 1px solid #000;
		text-align: left;
	}
}
