@font-face {
	font-family: 'PassionOne';
	src: url('passionone-regular-webfont.woff2') format('woff2'),
			 url('passionone-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nobile';
	src: url('nobile-regular-webfont.woff2') format('woff2'),
	url('nobile-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Dosis';
	src: url('dosis-regular.woff2') format('woff2'),
	url('dosis-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
