@font-face {
	font-family: 'PassionOne';
	src: url('../fonts/passionone-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nobile';
	src: url('../fonts/nobile-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Dosis';
	src: url('../fonts/dosis-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
