#search-form {
	padding: 10px 0 10px 0;
	border-bottom: 4px solid #aaa;
}

#search-form input {
}

#search-form button {
}

#search-results {
}

#search-results .result {
	display: flex;
	padding: 10px 0 10px 0;
}

#search-results .result:not(:last-child) {
	border-bottom: 1px dotted #aaa;
}

#search-results .result .image {
	padding-right: 20px;
}

#search-results .result .image img {
	max-width: 140px;
	max-height: 140px;
	border-radius: 5px;
}

#search-results .result .info {
}

#search-results .result .info h2 {
}

#search-results .result .info .author {
	font-size: 0.85em;
	font-style: italic;
	padding-bottom: 5px;
}

#search-results .result .info .description {
}