:root {
	--body-bg: none;
	--body-color: initial;
	--body-font-family: 'Dosis', sans-serif;
	--article-font-family: 'Nobile', sans-serif;

	--link-color: mediumblue;
	--link-color-visited: rebeccapurple;

	--header-font-family: 'PassionOne', sans-serif;
	--header-bg-color: black;
	--header-text-color: white;
	--header-border-color: #f73;
	--header-logo-color-a: white;
	--header-logo-color-b: #aaa;

	--header-outline-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

	--footer-border-color: #aaa;

	--menu-font-family: 'Nobile', sans-serif;
	--menu-text-color: white;
	--menu-trim-color: 1px dotted white;

	--section-header-bg: gray;
	--section-header-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.75);
	--section-header-title-bg: rgba(255, 255, 255, 0.4);
	--section-header-title-shadow: -1px -6px 10px -4px rgba(0, 0, 0, 0.55);
	--section-header-title-color: white;
	--section-header-title-color-hover: lightyellow;

	--section-subheader-bg: #d0d9e0;
	--section-subheader-color: inherit;

	--biglist-shadow: inset 0 0 80px 0 rgba(0, 0, 0, 0.75);
	--biglist-bg-color: gray;
	--biglist-bg-color-hover: rgba(255, 255, 200, 0.5);
	--biglist-text-color: white;
	--biglist-meta-color: rgba(255, 255, 255, 0.5);

	--paginate-bg-inactive: #dee3e9;
	--paginate-bg-hover: lightyellow;
	--paginate-bg-active: white;
	--paginate-shadow-active: inset 0 -3px 0 0 #f73;
	--paginate-border: #4d7a97;

	--download-button-bg: lightgreen;
	--download-button-bg-main: greenyellow;
	--download-button-bg-hover: lawngreen;
	--download-info-bg-hover: white;

	--table-header-bg: #4d7a97;
	--table-header-color: white;
	--table-row-alt-bg: #f0f0f5;
	--table-row-hover: lightyellow;

	--document-meta-border: #dee3e9;
	--document-meta-bg: #f0f0f5;
}

html {
	height: 100%;
	box-sizing: border-box;
}

/* footer-bottom hax */
body, body:before, body:after {
	box-sizing: inherit;
}

body {
	margin: 0;

	font-family: var(--body-font-family);
	font-size: 1.075em;

	/* footer-bottom hax */
	min-height: 100%;
	position: relative;
	padding: 0 0 180px 0;

	background: var(--body-bg);
	color: var(--body-color);
}

a {
	color: var(--link-color);
}

a:visited {
	color: var(--link-color-visited);
}

h1, h2, h3 {
	font-family: var(--header-font-family);
	font-weight: normal;
	margin: 10px auto;
	font-variant: small-caps;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h2 img, h3 img {
	vertical-align: middle;
	padding: 3px 7px 5px 0;
	height: 26px;
}

.page {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.mainpage {
	min-height: 100vh;
	background-color: rgba(78, 78, 80, 0.2);
	box-shadow: 0 0 30px 0 rgba(0, 0 , 0, 0.5);
}

.contentpage {
	padding: 10px;
}

header {
	background-color: var(--header-bg-color);
	color: var(--header-text-color);
	border-bottom: 4px solid var(--header-border-color);
}

footer {
	padding: 20px 0;
	/*border-top: 4px solid var(--footer-border-color);*/

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

header .heading {
	margin: 0;
	align-self: end;

	display: grid;
	grid-template-columns: auto 50%;
	grid-template-areas: 'header menu';
}

header .heading .header {
	grid-area: header;
	font-family: var(--header-font-family);
	font-size: 4em;
	font-weight: normal;
}

header .heading .menu {
	grid-area: menu;
	font-family: var(--menu-font-family);
	align-self: center;
	text-align: right;
	color: var(--menu-text-color);
}

.heading .burger {
	grid-area: burger;
}

.heading .burger, .heading .menu input {
	display: none;
	text-align: right;
}

.heading .menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

.heading .menu ul li {
	display: inline-block;
	box-sizing: border-box;
	border-right: var(--menu-trim-color);
}

.heading .menu a {
	padding: 5px;
}

.heading .menu ul li:first-child {
	border-left: var(--menu-trim-color);
}

header .heading .a {
	color: var(--header-logo-color-a);
}

header .heading .b {
	color: var(--header-logo-color-b);
}

header .heading a {
	color: inherit;
	text-decoration: none;
}

header .header img {
	align-self: start;
	vertical-align: top;
	margin-bottom: -26px;
}

.heading .menu img[src$="svg"] {
	filter: invert(1);
	vertical-align: middle;
}

.readable {
	font-family: var(--article-font-family);
	font-size: 1.0em;
}

.readable h1, .readable h2 {
	background: none;
	padding: 0;
}

.readable blockquote {
	background-color: var(--document-meta-bg);
	border-left: 4px solid var(--table-header-bg);
	padding: 10px 20px;
	font-style: italic;
}

.readable blockquote p {
	padding: 0;
	margin: 0;
}

section.intro h1 {
	margin: 0;
}

section.header {
	height: 150px;
	box-shadow: var(--section-header-shadow);
	background: var(--section-header-bg) center;
	background-size: cover;
	/*margin-bottom: 10px;*/
}

section.header .page {
	height: 100%;
	display: flex;
	flex-direction: column;
}

section.header h1 {
	font-size: 2.5em;
	word-break: keep-all;
	color: var(--section-header-title-color);
	text-shadow: var(--header-outline-shadow);
	padding: 10px;
	margin: auto 0 0 0;
	background-color: var(--section-header-title-bg);
	box-shadow: var(--section-header-title-shadow);
	/*border-radius: 5px 5px 0 0;*/
}

section.header h1 a {
	text-decoration: none;
	color: var(--section-header-title-color);
}

section.header h1 a:hover {
	color: var(--section-header-title-color-hover);
}

.biglist ul {
	list-style: none;
	padding: 0;
	margin: 0;

	display: grid;
	grid-template-columns: 33.3%;
	grid-template-areas: 'block block block';
	grid-gap: 15px;
}

.biglist h2 {
	font-size: 1.6em;
	background-color: var(--section-subheader-bg);
	color: var(--section-subheader-color);
	margin: 15px 0;
	padding: 5px 10px;
}

.biglist.bigger ul {
	grid-template-columns: 50%;
	grid-template-areas: 'block block';
}

.biglist ul li {
	position: relative;
	height: 100px;
	box-shadow: var(--biglist-shadow);
	background: var(--biglist-bg-color) center;
	background-size: cover;

	font-size: 1.9em;
	font-weight: bold;
	color: var(--biglist-text-color);

	border-radius: 5px;
}

.biglist.bigger ul li, .biglist.taller ul li {
	height: 150px;
}

.biglist ul li a {
	text-decoration: none;
	color: var(--biglist-text-color);
	text-shadow: var(--header-outline-shadow);

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;

	border-radius: 5px;
}

.biglist ul li a:hover {
	background: linear-gradient(0deg, var(--biglist-bg-color-hover) 0%, #00000000 100%);
	border-radius: 5px;
}

.biglist ul li .meta {
	color: var(--biglist-meta-color);
	font-size: 1.5em;

	position: absolute;
	bottom: -10px;
	right: 0;
}

.list nav, .biglist nav {
	display: grid;
	grid-gap: 2px;
	grid-auto-flow: column;
	font-size: 1.2em;
	font-weight: bold;
	margin: 10px 0;
}

nav.letters a, nav.pages a {
	background-color: var(--paginate-bg-inactive);
	border: 1px solid var(--paginate-border);
	padding: 5px;
	margin: 0 2px;
	text-decoration: none;
	text-align: center;
}

nav.letters a:hover, nav.pages a:hover {
	background-color: var(--paginate-bg-hover);
}

nav.letters a.active, nav.pages a.active {
	background-color: var(--paginate-bg-active);
	box-shadow: var(--paginate-shadow-active);
}

article.split {
	margin-top: 10px;

	display: grid;
	grid-template-columns: auto 50%;
	grid-template-rows: auto auto;
	grid-template-areas: 'left right';
	grid-column-gap: 10px;
	align-content: start;
}

article.split6040 {
	grid-template-columns: auto 40%;
}

article.split7030 {
	grid-template-columns: auto 30%;
}

article.split .left {
	grid-area: left;
}

article.split .right {
	grid-area: right;
}

article.info {
	margin-top: 10px;

	display: grid;
	grid-template-columns: auto 310px;
	grid-template-rows: auto auto;
	grid-template-areas: 'info screenshots';
	grid-column-gap: 10px;
	align-content: start;
}

article.info .screenshots {
	grid-area: screenshots;
	text-align: center;
	padding: 0 5px;
}

article.info .screenshots .thumb {
	width: 300px;
	margin: 2px;
	vertical-align: middle;
}

section.gallery div {
	text-align: center;
}

section.gallery .thumb {
	width: 343px;
	margin: 4px 3px 0;
}

article.info .info {
	grid-area: info;
}

article.split img {
	max-width: 100%;
}

article.split img.full {
	width: 100%;
}

section.downloads .links a {
	background-color: var(--download-button-bg);
	display: block;
	padding: 10px;
	margin: 5px 0;
	text-decoration: none;
}

section.downloads .links a.main {
	background-color: var(--download-button-bg-main);
}

section.downloads .links a:hover {
	background-color: var(--download-button-bg-hover);
}

article section {
	margin-bottom: 20px;
}

article section h2 {
	font-size: 1.6em;
	background-color: var(--section-subheader-bg);
	color: var(--section-subheader-color);
	margin: 0;
	padding: 5px 10px;
}

article section h3 {
	font-size: 1.4em;
	background-color: var(--table-header-bg);
	margin: 10px 0;
	padding: 5px 10px;
}

.label-value {
	margin: 5px 0;
}

.label-value label {
	display: inline-block;
	width: calc(30% - 10px);
	padding-right: 10px;
	text-align: right;
	vertical-align: top;
	font-variant: small-caps;
}

.label-value span {
	display: inline-block;
	width: 70%;
	font-weight: bold;
}

.mini-detail {
	font-weight: normal;
	font-style: italic;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table thead {
	background-color: var(--table-header-bg);
	color: var(--table-header-color);
	font-variant: small-caps;
}

table tbody tr:nth-child(odd) {
	background-color: var(--table-row-alt-bg);
}

table :not(thead) > tr:hover {
	background-color: var(--table-row-hover);
}

table td, table th {
	padding: 5px 0;
}

table tr td:first-child {
	padding-left: 5px;
}

table tr td:last-child {
	padding-right: 5px;
}

table td.meta {
	text-align: right;
}

article .docs .title-image, article .content .title-image {
	width: 200px;
}

article .docs .title-image img, article .content .title-image img {
	margin-right: 10px;
	max-height: 60px;
	max-width: 190px;
}

article.document .meta {
	float: right;
	width: 400px;
	margin: 0 0 10px 10px;
	border: 1px solid var(--document-meta-border);
	background-color: var(--document-meta-bg);
}

article.document :not(pre) > code {
	padding: 2px;
	border: 1px solid var(--document-meta-border);
	background-color: var(--document-meta-bg);
}

article.document pre {
	padding: 10px;
	border: 1px solid var(--document-meta-border);
	background-color: var(--document-meta-bg);
}

article.document blockquote {
	border-left: 5px solid var(--document-meta-border);
	padding-left: 10px;
	font-style: italic;
}

article.managed section.downloads .download {
	padding: 0 10px 10px 10px;
}

article.managed section.downloads .download:hover {
	background-color: var(--download-info-bg-hover);
}

article.managed section.downloads .download:not(:last-child) {
	border-bottom: 1px solid var(--document-meta-border);
}

article.managed section.downloads .download .title {
	padding: 5px 0 5px 0;
	font-weight: bold;
}

article.managed section.downloads .download .info {
	vertical-align: top;
	display: inline-block;
	width: 50%;
}

article.managed section.downloads .download .links {
	vertical-align: top;
	display: inline-block;
	width: 45%;
}

article.managed section.downloads .download .links a {
	display: block;
	width: 100%;
	padding: 5px;
	margin: 5px;
	text-align: center;
	background-color: var(--download-button-bg);
	text-decoration: none;
}

article.managed section.downloads .download .links a:hover {
	background-color: var(--download-button-bg-hover);
}

article.managed section.downloads .download .title img {
	vertical-align: middle;
}

section.latest table tr th:nth-child(1) {
	width: 25%;
}

section.latest table tr th:nth-child(2) {
	width: 45%;
}

section.latest table tr th:nth-child(3) {
	width: 30%;
}

section.latest table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

section.report {
	margin-top: 40px;
	text-align: center;
}

section.report img {
	vertical-align: middle;
}

button img {
	vertical-align: middle;
}

/*
  special styling for gametypes
 */
.credits li.group {
	font-weight: bold;
}

.credits .names {
	font-weight: normal;
}

.variations .variation {
	padding: 5px 20px;
}

.variations .variation:hover {
	background-color: var(--table-row-hover);
}

.variations .variation img {
	vertical-align: middle;
}

section.releases .release {
	padding-bottom: 10px;
}

section.releases .release:hover {
	background-color: var(--document-meta-bg);
}

section.releases .release:not(:last-child) {
	border-bottom: 1px solid var(--document-meta-border);
}

section.releases .release .title {
	padding: 5px;
	font-weight: bold;
	background-color: var(--table-header-bg);
}

section.releases .release .info {
	padding: 5px;
	vertical-align: top;
	display: inline-block;
	width: calc(50% - 5px);
}

section.releases .release .links {
	vertical-align: top;
	display: inline-block;
	width: 45%;
}

section.releases .release .links a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px;
	margin: 5px;
	text-align: center;
	background-color: var(--download-button-bg);
	text-decoration: none;
}

section.releases .release .links a:hover {
	background-color: var(--download-button-bg-hover);
}

section.contents .maps {
	display: flex;
	flex-wrap: wrap;
}

section.contents .maps .map {
	display: inline-flex;
	padding: 10px 0 10px 0;
	width: 49%;
}

section.contents .maps .map .image {
	padding-right: 10px;
}

section.contents .maps .map .image img {
	min-width: 80px;
	max-width: 80px;
	max-height: 80px;
	border-radius: 5px;
}

section.contents .maps .map .info {
}

section.contents .maps .map .info .title {
	font-size: 1.1em;
	font-weight: bold;
}

section.contents .maps .map .info .description {
	font-size: 0.9em;
	font-style: italic;
	padding-bottom: 5px;
}

/*
  special style for map themes
*/
div.themes img {
	vertical-align: bottom;
	height: 22px;
}

@media screen and (max-width: 1024px) {

	body {
		font-size: 1.2em;
		padding-bottom: 280px;
	}

	.nomobile {
		display: none;
	}

	header {
		/*height: 40px;*/
	}

	header .heading {
		grid-template-columns: auto;
		grid-template-areas:
						'header burger'
						'menu menu';
	}

	header .heading .header {
		font-size: 2.5em;
	}

	header .heading .header img {
		max-height: 60px;
	}

	.heading .menu ul {
		display: none;
	}

	.heading .menu ul li {
		display: block;
		border: 0;
	}

	.heading .burger {
		display: block;
	}

	.heading .burger label {
		display: inline-block;
		font-style: normal;
		font-size: 1.5em;
		padding: 5px 10px 0 0;
	}

	.heading .menu input:checked ~ ul {
		display: block;
	}

	.contentpage {
		padding: 0;
	}

	.biglist ul {
		grid-template-columns: 100%;
		grid-template-areas: 'block';
	}

	.list nav, .biglist nav {
		display: inherit;
		word-wrap: break-word;
	}

	nav.letters a, nav.pages a {
		padding: 4px 8px;
		line-height: 2;
	}

	section.header {
		height: auto;
	}

	section.header h1 {
		font-size: 1.75em;
		border-radius: 0;
	}

	article.info {
		grid-template-columns: auto;
		grid-template-areas:
						'info'
						'screenshots';
	}

	article.document .meta {
		float: none;
		width: 100%;
		margin: 0;
	}

	footer {
		position: relative;
	}

	article.split {
		grid-template-columns: auto;
		grid-template-areas:
						'right'
						'left';
	}
}
