:root {
	--p1: #fff;
	--p2: #f00;
	--p3: #f00;
	--p4: #000;
	--p5: #e00;
	--p6: #f00;

	--body-bg: var(--p1);
	--body-color: #000;
	--body-font-family: 'Dosis', sans-serif;
	--article-font-family: 'Nobile', sans-serif;

	--link-color: blue;
	--link-color-visited: purple;

	--header-font-family: 'PassionOne', sans-serif;
	--header-bg-color: #000;
	--header-text-color: white;
	--header-border-color: var(--p6);
	--header-logo-color-a: white;
	--header-logo-color-b: var(--p2);

	--header-outline-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

	--footer-border-color: var(--p4);

	--menu-font-family: 'Nobile', sans-serif;
	--menu-text-color: white;
	--menu-trim-color: 1px dotted white;

	--section-header-bg: var(--p4);
	--section-header-shadow: none;
	--section-header-title-bg: rgba(78, 78, 80, 0.5);
	--section-header-title-shadow: none;
	--section-header-title-color: white;
	--section-header-title-color-hover: var(--p2);

	--section-subheader-bg: var(--p3);;
	--section-subheader-color: #000;

	--biglist-shadow: inset 0 0 80px 0 rgba(0, 0, 0, 0.75);
	--biglist-bg-color: var(--p4);
	--biglist-bg-color-hover: #f00;
	--biglist-text-color: white;
	--biglist-meta-color: rgba(255, 255, 255, 0.5);

	--paginate-bg-inactive: #202023;
	--paginate-bg-hover: #95074080;
	--paginate-bg-active: var(--section-header-title-bg);
	--paginate-shadow-active: inset 0 -3px 0 0 var(--p6);
	--paginate-border: none;

	--download-button-bg: #0f0;
	--download-button-bg-main: #0f0;
	--download-button-bg-hover: #dfd;
	--download-info-bg-hover: #dfd;

	--table-header-bg: var(--p5);
	--table-header-color: #000;
	--table-row-alt-bg: #cfcfcf;
	--table-row-hover: #fcc;

	--document-meta-border: none;
	--document-meta-bg: #fff;
}

.mainpage {
	background-color: #ddd;
	box-shadow: none;
}

td.meta img[src$="svg"], footer img[src$="svg"], .report img[src$="svg"] {
	filter: invert(0.5);
}

article.managed section.downloads .download .title img[src$="svg"], .variation img[src$="svg"] {
	filter: invert(0.8);
}
